<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyChat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyChat.Properties.Settings>
            <setting name="DefServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DefPort" serializeAs="String">
                <value>6614</value>
            </setting>
            <setting name="logFile" serializeAs="String">
                <value>MyChat.log</value>
            </setting>
        </MyChat.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
