<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyChatServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <MyChatServer.Properties.Settings>
            <setting name="logFile" serializeAs="String">
                <value>MyChatServer.log</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6614</value>
            </setting>
            <setting name="String1" serializeAs="String">
                <value>cb83d9f812bbaec604a8fbf4d37b77ac66c59038b75a3914af088fccb051ac9ce5c1133e5f5fbdd27068c066a732c9aa88bb4574b831e984f845351197b29c9ca3646391645110d1d964746508f9a081b498573e37418c2c59f379678222ad28</value>
            </setting>
        </MyChatServer.Properties.Settings>
    </userSettings>
</configuration>