<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyChatServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <userSettings>
        <MyChatServer.Properties.Settings>
            <setting name="logFile" serializeAs="String">
                <value>MyChatServer.log</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6614</value>
            </setting>
            <setting name="String1" serializeAs="String">
                <value>CB83D9F812BBAEC604A8FBF4D37B77AC66C59038B75A3914AF088FCCB051AC9CE5C1133E5F5FBDD27068C066A732C9AA88BB4574B831E984F845351197B29C9CA3646391645110D1D964746508F9A08113DE115ED2259936E2533764B1222880</value>
            </setting>
        </MyChatServer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
